<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>[% template.title or site.title %]</title>
  <link rel="icon" href="/favicon.ico" type="image/png">
  <link href='/static/css/style.css' rel='stylesheet' type='text/css'>
  <script type='text/javascript' src='/includes/index.js'></script>
</head>

<body>

    [% content %]

</body>

</html>
